################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main.BookStore/.vs/Main.BookStore
/Main.BookStore/obj
/Main.BookStore/bin
/Main.BookStore/.vs/ProjectEvaluation
